$margin: 20px;
$headerRadius: 200px;
$headerHeight: 20%;
$footerHeight: 30%;
$mainHeight: 100% - $headerHeight - $footerHeight;
$mainColor1: #000000;
$mainColor2: #EBEBEB;
$mainColor3: #FFFFFF;
$mainColor4: #AA1111;
$leverCenterColor: #FF3C3C;
$leverOuterColor: #910000;


.slot-machine {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .slot-top-shader, .slot-bottom-shader {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
  }
  .slot-top-shader {
    top: 0;
  }
  .slot-bottom-shader {
    bottom: 0;
  }
}

.slot-machine .slot-header {
  border-top-left-radius: $headerRadius;
  border-top-right-radius: $headerRadius;
  height: $headerHeight;
}

.slot-machine .slot-header, .slot-machine .slot-footer {
  color: $mainColor3;
  background-color: $mainColor4;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.slot-machine .slot-main {
  height: $mainHeight;
  background-color: $mainColor2;
  position: relative;
  overflow: hidden;
}

.slot-machine .slot-lever {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $mainColor4;
  &:hover {
    cursor: move;
  }
  background-image: -ms-radial-gradient(center, circle farthest-corner, $leverCenterColor 0%, $leverOuterColor 100%);
  background-image: -moz-radial-gradient(center, circle farthest-corner, $leverCenterColor 0%, $leverOuterColor 100%);
  background-image: -o-radial-gradient(center, circle farthest-corner, $leverCenterColor 0%, $leverOuterColor 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 504, color-stop(0, $leverCenterColor), color-stop(1, $leverOuterColor));
  background-image: -webkit-radial-gradient(center, circle farthest-corner, $leverCenterColor 0%, $leverOuterColor 100%);
  background-image: radial-gradient(circle farthest-corner at center, $leverCenterColor 0%, $leverOuterColor 100%);
}

.slot-machine .slot-lever-track {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 10px;
  height: 100%;
  background-color: black;
  background-image: -ms-linear-gradient(left, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -moz-linear-gradient(left, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -o-linear-gradient(left, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000000), color-stop(0.5, #FFFFFF), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: linear-gradient(to right, #000000 0%, #FFFFFF 50%, #000000 100%);
}

.slot-machine .slot-bars {
  margin: $margin;
  height: calc(100% - #{$margin*2});
  margin-right: 40px;
  font-size: 0;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-image: -ms-linear-gradient(top, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -moz-linear-gradient(top, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.5, #FFFFFF), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(top, #000000 0%, #FFFFFF 50%, #000000 100%);
  background-image: linear-gradient(to bottom, #000000 0%, #FFFFFF 50%, #000000 100%);
}

.slot-machine .slot-bar {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: bottom;
}

.slot-machine .slot-box {
  text-align: center;
  font-size: 12px;
}

.slot-machine .slot-footer {
  height: $footerHeight;
}