$margin: 20px;

.slot-machine {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .slot-top-shader, .slot-bottom-shader {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
  }
  .slot-top-shader {
    top: 0;
  }
  .slot-bottom-shader {
    bottom: 0;
  }
}

.slot-machine .slot-header {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 20%;
  background-color: #ED86E4;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.slot-machine .slot-main {
  height: 50%;
  background-color: #101842;
  position: relative;
  overflow: hidden;
}

.slot-machine .slot-lever {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: red;
  background-image: -webkit-radial-gradient(50% 40%, closest-corner, #FFC2C2, #F00);
  &:hover {
    cursor: move;
  }
}

.slot-machine .slot-lever-track {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 10px;
  height: 100%;
  background-color: black;
  background-image: linear-gradient(to right, black 0%, white 50%, black 100%);
}

.slot-machine .slot-bars {
  margin: $margin;
  height: calc(100% - #{$margin*2});
  margin-right: 40px;
  font-size: 0;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(top,#000 0%, #FFF 50%, #000 100%);
}

.slot-machine .slot-bar {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: bottom;
}

.slot-machine .slot-box {
  text-align: center;
  font-size: 12px;
}

.slot-machine .slot-footer {
  height: 30%;
  background-color: #220404;
}