$margin: 20px;

.slot-machine {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .slot-top-shader, .slot-bottom-shader {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
  }
  .slot-top-shader {
    top: 0;
  }
  .slot-bottom-shader {
    bottom: 0;
  }
}

.slot-machine .slot-header {
  border: 1px solid #000;
  border-bottom: 0;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 20%;
  background-color: #ED86E4;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.slot-machine .slot-main {
  height: 50%;
  border: 1px solid black;
  background-color: #101842;
}

.slot-machine .slot-bars {
  margin: $margin;
  height: calc(100% - #{$margin*2});
  margin-right: 40px;
  font-size: 0;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.slot-machine .slot-bar {
  display: inline-block;
  height: 100%;
  position: relative;
}

.slot-machine .slot-footer {
  height: 30%;
  border: 1px solid black;
  border-top: 0;
  background-color: #220404;
}

// .slot-machine .slot-bar {
//   -webkit-transition-property: all;
//   -webkit-transition-duration: 2s;
//   -webkit-transition-timing-function: linear(0, 1, 0.5, 1);

//   -moz-transition-property: all;
//   -moz-transition-duration: 2s;
//   -moz-transition-timing-function: linear(0, 1, 0.5, 1);

//   -ms-transition-property: all;
//   -ms-transition-duration: 2s;
//   -ms-transition-timing-function: linear(0, 1, 0.5, 1);

//   transition-property: all;
//   transition-duration: 2s;
//   transition-timing-function: linear(0, 1, 0.5, 1);

//   &.pause {
//     -o-transition-property: none !important;
//    -moz-transition-property: none !important;
//    -ms-transition-property: none !important;
//    -webkit-transition-property: none !important;
//    transition-property: none !important;
//   }
// }